header{
    background-color: aquamarine;
    border:2px solid black;

}
header h2{
    text-align: center;
}
header ul{
    display:flex;
    list-style: none;
    padding:8px;
    justify-content: center;
}
header ul li{
    padding:8px;
}
main{
    border: 2px solid pink;
    color:white;
    background-color: black;
    margin-top: 2rem;
}
